{% extends 'base.html' %}
{% block content %}
    <h1>{{ todo.title }}</h1>
    <div style="text-align: right; display: flex; justify-content: right">
    {% if request.user.id == todo.user_id or request.user.username == 'admin' %}
        <button onclick="location.href='{% url "todo:cbv_todo_update" pk=todo.id %}'" style="margin-right: 10px">수정</button>
        <form method="POST" action="{% url 'todo:cbv_todo_delete' pk=todo.id %}">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
    {% endif %}
    </div>
    <table>
        {% for key, value in todo.items %}
            {% if key != 'title' and key != 'id' and key != '_state' and key != 'user_id' %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{{ value }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}