<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <nav style="display: flex;justify-content: space-between">
        <button onclick="location.href='{% url "todo:cbv_todo_list" %}'">홈</button>
        <div style="text-align: right">
            {% if request.user.is_authenticated %}
                <form action="{% url 'logout' %}" method="POST" style="text-align: right">
                    {% csrf_token %}
                    {{ request.user.username }}
                    <button>로그아웃</button>
                </form>
            {% else %}
                <div style="text-align: right; display: flex; justify-content: right">
                    <button onclick="location.href='{% url "signup" %}'" style="margin-right: 10px">회원가입</button>
                    <button onclick="location.href='{% url "login" %}'">로그인</button>
                </div>
            {% endif %}
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>